<a href="https://colab.research.google.com/github/preetikumari5/Machine-Learning/blob/main/Special_dataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List

In [1]:
# list should be included in the square brackets

my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [2]:
#multiple data types

my_list = [2,3,1.8,"english",True]
print(my_list)

[2, 3, 1.8, 'english', True]

Lists are Mutable --> changeable

In [3]:
my_list = [2,3,1.8,"english",True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'english', True, 6]

In [5]:
print(my_list[4])
print(my_list[2])

True
1.8

In [6]:
list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [7]:
print(len(list_1))

8

In [8]:
list2 = []
print(list2)

[]

In [9]:
list2.append(5)
print(list2)

[5]

In [10]:
list2 = [2,3,1.8,"english",True]
print(list2)
del list2[2]
print(list2)

[2, 3, 1.8, 'english', True]
[2, 3, 'english', True]

In [11]:
lista = [1,2,3,4,5]
listb = [6,7,8,9,10]
listc = lista + listb
print(listc)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Tuple

In [12]:
tuple1 = (2,3,4)
print(tuple1)
type(tuple1)

(2, 3, 4)

tuple

In [13]:
tuple2 = (1,2,3.5,"machine learning",False)
print(tuple2)

(1, 2, 3.5, 'machine learning', False)

In [14]:
#list --> tuple
list1 = [3,4,5,6]
print(list1)

tuple3 = tuple(list1)
print(tuple3)
type(tuple3)

[3, 4, 5, 6]
(3, 4, 5, 6)

tuple

In [15]:
print(tuple3[3])
print(tuple3[0])

6
3

In [16]:
tuple1.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
print(len(tuple3))

4

#Set

In [18]:
set1 = {1,2,3,4,5}
print(set1)
type(set1)

{1, 2, 3, 4, 5}

set

In [19]:
print(set1[0])

TypeError: 'set' object is not subscriptable

In [20]:
#list --> set

list7 = [4,5,6,7,8]
x = set(list7)
print(x)

{4, 5, 6, 7, 8}

In [21]:
#no duplicates values
set2 = {1,2,3,4,5,1,2,3}
print(set2)

{1, 2, 3, 4, 5}

#Dictionary

In [22]:
dict1 = {'name':'Preeti','age':20,'country':'India'}
print(dict1)
type(dict1)

{'name': 'Preeti', 'age': 20, 'country': 'India'}

dict

In [24]:
print(dict1['name'])
print(dict1['age'])
print(dict1['country'])

Preeti
20
India

In [25]:
dict2 = {'name':'Preeti','age':20,'country':'India','name':'Preeti','age':20,'country':'India'}
print(dict2)

{'name': 'Preeti', 'age': 20, 'country': 'India'}