<a href="https://colab.research.google.com/github/preetikumari5/Machine-Learning/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For loop

In [3]:
laptop1 = int(input('Enter the price of the laptop: '))
laptop2 = int(input('Enter the price of the laptop: '))
laptop3 = int(input('Enter the price of the laptop: '))
laptop4 = int(input('Enter the price of the laptop: '))5
laptop5 = int(input('Enter the price of the laptop: '))

Enter the price of the laptop: 20000
Enter the price of the laptop: 30000
Enter the price of the laptop: 40000
Enter the price of the laptop: 50000
Enter the price of the laptop: 60000

In [4]:
for i in range(5):
  laptop_price = int(input('Enter the price of the laptop: '))

Enter the price of the laptop: 20000
Enter the price of the laptop: 30000
Enter the price of the laptop: 400000
Enter the price of the laptop: 50000
Enter the price of the laptop: 60000

In [5]:
nums = [50,100,150,200]
for i in nums:
  print(i)

50
100
150
200

#While Loop

In [7]:
i = 0
while i<10:
  print(i)
  i = i+1

0
1
2
3
4
5
6
7
8
9

In [8]:
i = 5
while i<3:
  print(i)
  i = i+1